# Development requirements. There are no runtime/install requirements.

# Unreleased nose "1.3"
git+https://github.com/nose-devs/nose@c0f777e488337dc7dde933453799986c46b37deb#egg=nose
# Python 3 compat spec
spec>=0.10.0
# Ourselves
-e .
