# Development requirements. There are no runtime/install requirements.

# Docs (changelog)
releases==1.6.3
Sphinx>=1.4,<1.7
# Testing
pytest-relaxed==1.1.5
# Coverage
pytest-cov==2.11.1
codecov==2.1.11
# Invoke, invocations for release shenanigans etc
invoke==1.6.0
invocations==2.2.0
# Release deps
wheel==0.36.2
twine==1.15.0
readme_renderer==29.0
# Formatting
black==19.10b0
# Linting
flake8==3.6.0
# Ourselves
-e .
