# Development requirements. There are no runtime/install requirements.

# Python 3 compat spec
spec>=0.10.0,<2.0
# Ourselves
-e .
# Invoke, invocations for release shenanigans etc
-e git+https://github.com/pyinvoke/invoke#egg=invoke
-e git+https://github.com/pyinvoke/invocations#egg=invocations
# Release deps
wheel==0.24
twine==1.5
# Linting
flake8==2.4.0
